*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html, body{
    scroll-behavior: smooth;
}

a{
    color: inherit;
    text-decoration: none;
}

.container{
    padding: 0 5%;
}

/* style for header */

.header{
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    padding: 20px 5%;
    background: linear-gradient(45deg, #FFF9E5 0%, #FFD6C0 100%);
}

.header-hidden{
    display: none;
}

.header .nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-bar .logo-box{
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-box img{
    width: 50px;
}

.logo-box .logo-text{
    color: #420c08;
}

.logo-box .logo-text h4{
    font-size: 15px;
    font-weight: 600;
    line-height: 15px;
}

.logo-box .logo-text h3{
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
}

.logo-box .logo-text p{
    font-size: 15px;
    font-weight: 700;
    line-height: 15px;
}

.nav-bar .nav-links{
    display: flex;
    align-items: center;
}

.nav-links.show{
    left: 0;
}

.nav-bar #menu-icon{
    display: none;
    font-size: 30px;
    cursor: pointer;
}

.nav-list{
    display: flex;
    align-items: center;
    list-style: none;
}

.nav-list li{
    font-size: 16px;
    font-weight: 400;
    margin: 0 15px;
    transition: all ease 0.3s;
}

.nav-list li:hover{
    color: #ff6f61;
}

@media (max-width: 777px){
    .nav-bar .nav-links{
        display: flex;
        position: fixed;
        top: 0;
        left: -500px;
        width: 300px;
        height: 100vh;
        flex-direction: column;
        background: #fff;
        align-items: center;
        transition: all ease 0.3s;
    }
    .nav-list{
        display: flex;
        flex-direction: column;
        margin-top: 30px;
        align-items: center;
        list-style: none;
    }
    .nav-list li{
        font-size: 18px;
        font-weight: 400;
        margin: 15px 0;
        transition: all ease 0.3s;
    }
    .nav-bar #menu-icon{
        display: block;
        font-size: 30px;
        cursor: pointer;
    }
    .bx-x{
        position: absolute;
        top: 10px;
        right: 15px;
    }
}

@media (max-width: 555px){
    .nav-bar .nav-links{
        width: 300px;
    }
}



/* hero section styles */

.hero-section{
    width: 100%;
    min-height: 100vh;
    padding: 50px 0;
    background: linear-gradient(135deg, #FFF9E5 0%, #FFD6C0 100%);
}

.hero-section .container{
    display: grid;
    gap: 50px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    align-items: center;
}

.hero-section .hero-text{
    padding: 50px 0;
}

.hero-section .hero-text h1{
    font-size: 50px;
    line-height: 60px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #333;
}

.hero-text h1 span{
    color: #ff6f61;
}

.hero-section .hero-text p{
    font-size: 17px;
    margin: 10px 0;
}

.hero-section .hero-text .btn{
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    padding: 15px 30px;
    border: 1px solid #333;
    background: #333;
    margin-top: 20px;
    border-radius: 7px;
    cursor: pointer;
    transition: all ease 0.3s;
}

.hero-section .hero-text .btn:hover{
    background: #000;
}

.hero-section .hero-image{
    position: relative;
    border: 2px solid #ff6f61;
    border-radius: 10px;
    min-width: 200px;
}

.hero-image img{
    width: 100%;
    height: 100%;
    max-height: 500px;
    border-radius: 10px;
    object-fit: cover;
    display: block;
}

.hero-image .image-text{
    position: absolute;
    left: -10px;
    bottom: 10px;
    width: 300px;
    padding: 20px;
    background: #fff7de;
    border-left: 3px solid #ff6f61;
    font-size: 16px;
}

@media (max-width: 777px) {
    .hero-section .container {
        gap: 30px;
        align-items: start;
    }
    .hero-section .hero-text {
        padding: 30px 0;
    }
    .hero-section .hero-text h1 {
        font-size: 40px;
        line-height: 45px;
    }
    .hero-section .hero-image {
        margin: 0 auto;
        max-width: 350px;
    }
}

@media (max-width: 555px) {
    .hero-section {
        padding: 30px 0;
        min-height: 70vh;
    }
    .hero-section .hero-text{
        text-align: center;
    }
    .hero-section .hero-text h1 {
        font-size: 36px;
        line-height: 44px;
    }
    .hero-section .hero-image {
        max-width: 100%;
    }
    .hero-image img {
        max-height: 300px;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
    }
    .hero-image .image-text {
        position: static;
        width: 100%;
        padding: 15px;
        border-left: none;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
    }
}


/* about section styles */

.about-section{
    width: 100%;
    padding: 70px 0;
}

.about-section .container{
    display: grid;
    gap: 50px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.about-row h2{
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
}

.about-row h2 span{
    color: #ff6f61;
}

.about-row p{
    margin: 15px 0;
}

.about-row button{
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    padding: 15px 30px;
    border: 1px solid #333;
    background: #333;
    margin-top: 15px;
    border-radius: 7px;
    cursor: pointer;
    transition: all ease 0.3s;
}

.about-row button:hover{
    background: #000;
}

.service-section{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.service-box{
    text-align: center;
    cursor: pointer;
}

.service-box i{
    color: #ff6f61;
    font-size: 30px;
    margin-bottom: 12px;
}

.service-box h3{
    font-size: 17px;
    font-weight: 600;
}

.service-box p{
    font-size: 14px;
    color: #333;
    margin: 10px 0;
}


/* community section styles */

.group-section{
    width: 100%;
    color: #fff;
    padding: 70px 0;
    text-align: center;
    background: linear-gradient(rgba(0,0,0,0.45), 
    rgba(0,0,0,0.45), rgba(0,0,0,0.55),
    rgba(0,0,0,0.65)), url(./images/student-union.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.group-section .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.group-section .container h2{
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
}

.group-section .container p{
    color: #f1f1f1;
    font-size: 16px;
    letter-spacing: 0.5px;
    margin: 15px 0;
}

.group-section .container .btn{
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    padding: 15px 30px;
    border: 1px solid #ff6f61;
    background: #ff6f61;
    margin-top: 15px;
    border-radius: 7px;
    cursor: pointer;
    transition: all ease 0.3s;
}

.group-section .container .btn:hover{
    background: #e65b50;
}

@media (max-width: 777px){
    .group-section .container h2{
        font-size: 32px;
        font-weight: 600;
        line-height: 38px;
    }
}



/* faq styling */

.faq-section{
    width: 100%;
    padding: 70px 0;
    line-height: 27px;
}

.faq-section .container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.faq-section .container .faq-heading{
    margin-bottom: 30px;
}

.faq-section .container .faq-heading .title{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
    line-height: 40px;
}

.faq-section .container .faq-heading p{
    color: #333;
}

.faq-container .faq-folder{
    padding: 20px;
    cursor: pointer;
}

.faq-folder .question{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.faq-folder .question h3{
    font-size: 18px;
    font-weight: 500;
}

.faq-folder .question .fa{
    font-size: 15px;
    vertical-align: middle;
    transition: all ease 0.3s;
}

.faq-folder.active .fa{
    transform: rotate(180deg);
}

.faq-folder .faq-answer{
    max-height: 0;
    overflow: hidden;
    transition: max-height ease 0.3s;
}

.faq-folder.active .faq-answer{
    max-height: 300px;
    animation: fade 0.5s ease-in-out;
}

.faq-folder .faq-answer p{
    margin-top: 10px;
    color: #333;
    padding-top: 10px;
    border-top: 1.2px solid #e5e5e5;
}

@keyframes fade{
    from{
        opacity: 0;
        transform: translateY(-20px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 555px){
    .faq-container .faq-folder{
        padding: 15px 0;
    }
}


/* footer section styles */

.footer-section{
    width: 100%;
    color: #e5e5e5;
    padding: 70px 0;
    background: #333;
}

.footer-section .container{
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: space-between;
}

.social-links{
    display: flex;
    align-items: center;
    gap: 20px;
}

.social-links i{
    font-size: 30px;
}

.contact {
    display: flex;
    gap: 15px;
    align-items: center;
}

.contact-box{
    display: flex;
    gap: 10px;
    align-items: center;
}

.contact-box i{
    font-size: 30px;
}


@media (max-width:555px){
    .footer-section .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    .contact {
        display: flex;
        gap: 15px;
        flex-direction: column;
        align-items: center;
    }
}